<div class="list">
    <div class="item">
        <div class="image-block inl">
            <img src="public/assets/images/events-1.jpg">
        </div>
        <div class="date inl">
            <h3 class="day-week">Monday,</h3>
            <h2 class="num">18</h2>
            <h3 class="month">NOVEMBER</h3>
            <h4 class="time">5PM - 6PM</h4>
        </div>
        <div class="description inl">
            <h4 class="events-title"><img src="public/assets/images/ic-map.png" alt="">CAMPUS MARTIUS
                PARK
            </h4>
            <h3>AMY GORE AND HER VALENTINES</h3>
            <p>Free admission! A spectacular evening of stage and rink performances featuring
                award-winning
                vocalist Aaron Neville, Olympic gold medal figure skaters Meryl Davis & Charlie
                White!</p>
        </div>
        <div class="button-block inl">
            <a href="#" class="transparent-btn">Learn More</a>
        </div>
    </div>
    <div class="item">
        <div class="image-block inl">
            <img src="public/assets/images/events-1.jpg">
        </div>
        <div class="date inl">
            <h3 class="day-week">Monday,</h3>
            <h2 class="num">18</h2>
            <h3 class="month">NOVEMBER</h3>
            <h4 class="time">5PM - 6PM</h4>
        </div>
        <div class="description inl">
            <h4 class="events-title"><img src="public/assets/images/ic-map.png" alt="">CAMPUS MARTIUS
                PARK
            </h4>
            <h3>AMY GORE AND HER VALENTINES</h3>
            <p>Free admission! A spectacular evening of stage and rink performances featuring
                award-winning
                vocalist Aaron Neville, Olympic gold medal figure skaters Meryl Davis & Charlie
                White!</p>
        </div>
        <div class="button-block inl">
            <a href="#" class="transparent-btn">Learn More</a>
        </div>
    </div>
    <div class="item">
        <div class="image-block inl">
            <img src="public/assets/images/events-1.jpg">
        </div>
        <div class="date inl">
            <h3 class="day-week">Monday,</h3>
            <h2 class="num">18</h2>
            <h3 class="month">NOVEMBER</h3>
            <h4 class="time">5PM - 6PM</h4>
        </div>
        <div class="description inl">
            <h4 class="events-title"><img src="public/assets/images/ic-map.png" alt="">CAMPUS MARTIUS
                PARK
            </h4>
            <h3>AMY GORE AND HER VALENTINES</h3>
            <p>Free admission! A spectacular evening of stage and rink performances featuring
                award-winning
                vocalist Aaron Neville, Olympic gold medal figure skaters Meryl Davis & Charlie
                White!</p>
        </div>
        <div class="button-block inl">
            <a href="#" class="transparent-btn">Learn More</a>
        </div>
    </div>
    <div class="item">
        <div class="image-block inl">
            <img src="public/assets/images/events-1.jpg">
        </div>
        <div class="date inl">
            <h3 class="day-week">Monday,</h3>
            <h2 class="num">18</h2>
            <h3 class="month">NOVEMBER</h3>
            <h4 class="time">5PM - 6PM</h4>
        </div>
        <div class="description inl">
            <h4 class="events-title"><img src="public/assets/images/ic-map.png" alt="">CAMPUS MARTIUS
                PARK
            </h4>
            <h3>AMY GORE AND HER VALENTINES</h3>
            <p>Free admission! A spectacular evening of stage and rink performances featuring
                award-winning
                vocalist Aaron Neville, Olympic gold medal figure skaters Meryl Davis & Charlie
                White!</p>
        </div>
        <div class="button-block inl">
            <a href="#" class="transparent-btn">Learn More</a>
        </div>
    </div>
</div>