<footer>
    <div class="block-center">
        <div class="foot-columns">
            <div class="full">
                <div class="inline foot-col-1">
                    <img class="logo" src="public/assets/images/logo.png" alt="">
                    <p class="foot-text">The district’s landmark is the award-winning Campus Martius Park, a 2.5 acre
                        public
                        square and
                        year-round entertainment venue. Located at the heart of the neighborhood and downtown on
                        Woodward
                        Avenue, the Park is also the crossroads to all the other major downtown activity.</p>
                    <ul class="social">
                        <li class="social__item fb"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="social__item tw"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="social__item gp"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li class="social__item in"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="inline foot-col-2">
                    <h3 class="foot-menu-title">Quick Links</h3>
                    <ul class="foot-menu">
                        <li><a href="">Conservancy Background</a></li>
                        <li><a href="">Media Gallery</a></li>
                        <li><a href="">Parking</a></li>
                        <li><a href="">Sponsors</a></li>
                        <li><a href="">Things to Do in the Winter</a></li>
                        <li><a href="">Things To Do in the Summer</a></li>
                        <li><a href="">Rent the Park</a></li>
                    </ul>
                </div>
                <div class="inline foot-col-3">
                    <h3 class="foot-menu-title">Point of Interest</h3>
                    <ul class="foot-menu">
                        <li><a href="">Fountains</a></li>
                        <li><a href="">Monuments</a></li>
                        <li><a href="">Green-Space</a></li>
                        <li><a href="">Stages</a></li>
                        <li><a href="">The Rink</a></li>
                        <li><a href="">New Restaurant</a></li>
                    </ul>
                </div>
            </div>
            <div class="insta-block">
                <h3 class="insta-title">INSTAGRAM</h3>
                <img src="public/assets/images/insta.png" alt="">
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="block-center">
            <h4>Downtown Detroit Parks © 2017 All Rights Reserved | Privacy Policy</h4>
            <span class="hadrout">Webdesign by <a href="">Hadrout</a></span>
        </div>
    </div>
</footer>
<script src="../public/app/main.js"></script><!--
<script src="../public/app/common/justifiedGallery.min.js"></script>-->
<script src="../public/app/common/setting.js"></script>