<header>
    <div class="block-center">
        <div class="top">
            <div class="top__item"><a href="index.html" class="logo"><img src="public/assets/images/logo.png"></a></div>
            <div class="top__item weather">
                <!--<img src="public/assets/images/widget-meteo.png">-->
                <img src="https://www.theweather.com/wimages/foto5b6d8fe67b3fde09346f948ddd0bb804.png">
            </div>
            <div class="top__item top-social">
                <ul class="social">
                    <li class="social__item fb"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social__item tw"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="social__item inst"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="top__item live-cam">
                <div class="text">
                    <h4>Live Cam</h4>
                    <h5>Camera updated in real time</h5>
                </div>
                <img src="public/assets/images/live-cam.png">
            </div>
            <div class="top__item mobile-btn-menu">
                <a class="menu-btn" role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="head-menu-block collapse" id="collapseMenu">
        <ul class="menu wow fadeIn">
            <li class="menu__item active"><a href="">HOME</a></li>
            <li class="menu__item"><a href="">ABOUT</a></li>
            <li class="menu__item"><a href="">EVENTS</a></li>
            <li class="menu__item"><a href="">DINING</a></li>
            <li class="menu__item"><a href="">SPONSORS</a></li>
            <li class="menu__item"><a href="">NEWS & MEDIA</a></li>
            <li class="menu__item"><a href="">RENTALS</a></li>
            <li class="menu__item"><a href="">CONTACT US</a></li>
        </ul>
    </div>
</header>