<div class="news-section">
    <div class="container">
        <h1 class="title-blocks"><b>NEWS</b> AND MEDIA</h1>
        <h3 class="sub-title">Lorem ipsum dolor sit amet, cum at inani interesset, nisl fugit munere ad mel,vix an
            omnium</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="image-block">
                    <img src="public/assets/images/news-1.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="news-date">April 3, 2016</h4>
                    <h3 class="news-title">Title of the post goes here.</h3>
                    <p class="news-description">Today Downtown Detroit Partnership announced the latest addition to
                        Campus Martius Park and
                        Detroit’s restaurant, bar and outdoor dining scene, named The Fountain Detroit. The
                        restaurant and bar arrived in the unique beach area at the park this morning in preparation
                        for the 2016 summer season.</p>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-block">
                    <img src="public/assets/images/news-1.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="news-date">April 3, 2016</h4>
                    <h3 class="news-title">Title of the post goes here.</h3>
                    <p class="news-description">Today Downtown Detroit Partnership announced the latest addition to
                        Campus Martius Park and
                        Detroit’s restaurant, bar and outdoor dining scene, named The Fountain Detroit. The
                        restaurant and bar arrived in the unique beach area at the park this morning in preparation
                        for the 2016 summer season.</p>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-block">
                    <img src="public/assets/images/news-1.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="news-date">April 3, 2016</h4>
                    <h3 class="news-title">Title of the post goes here.</h3>
                    <p class="news-description">Today Downtown Detroit Partnership announced the latest addition to
                        Campus Martius Park and
                        Detroit’s restaurant, bar and outdoor dining scene, named The Fountain Detroit. The
                        restaurant and bar arrived in the unique beach area at the park this morning in preparation
                        for the 2016 summer season.</p>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
        </div>
        <a href="#" class="blue-btn">SEE ALL NEWS</a>
    </div>
</div>