<div class="sponsors-section">
    <h1 class="title-blocks"><b>OUR</b> SPONSORS</h1>
    <div class="sponsors-slider slider">
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-1.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-2.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-3.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-4.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-5.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-6.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-7.png" alt="">
        </div>
        <div class="sponsors-slide">
            <img src="public/assets/images/sponsor-5.png" alt="">
        </div>
    </div>
</div>