<div class="subscribe">
    <div class="block-center">
        <div class="row">
            <div class="inline">
                <div class="text">
                    <h1 class="title-blocks"><b>Be</b> THE FirST ONE TO KNOW</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a</p>
                </div>
            </div>
            <div class="inline">
                <form action="">
                    <div class="subscribe__form">
                        <input type="text" placeholder="Your E-mail">
                        <button class="subscribe__btn" type="submit">Subcribe Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>